github_owner    = "samuel-72"
repository_name = "test-rulesets"

enable_ruleset_main_protection = true
main_ruleset_enforcement       = "active"

enable_ruleset_feature_protection = true
feature_ruleset_enforcement       = "active"
feature_branch_include_patterns   = ["refs/heads/feature*"]
feature_allow_force_pushes        = true

dismiss_stale_reviews             = false
require_code_owner_review         = false
require_last_push_approval        = false
required_approving_review_count   = 1
required_review_thread_resolution = false
required_status_checks            = []
strict_required_status_checks     = false
